.field {
  margin-bottom: 1em;
}

.field-label {
  display: block;
  font-weight: bold;
}

.field-hint {
  font-style: italic;
}

.ul {
  margin: 0;
  list-style: none;
}

.li {
  display: inline-block;
  margin-right: 2em;
}
